section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 80vw;
  max-height: 70vh;
  margin: auto auto;
  // margin: 100px 1.5rem 7.5rem 1.5rem;
  padding: 15px;
  border: black dotted 2px;
}
.envelope {
  background-image: url("..//img/koperta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  color: white;
}
input,
textarea {
  background-color: rgba(199, 199, 191, 0.867) !important;
  color: black !important;
}
.envelope .btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white !important;
}
