div.gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  margin: 50px 0 0 0;
  min-height: 80vh;
}

div.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

div.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btns {
  margin: 150px 0 0 0;
}

.btns .btn {
  color: black;
  border: 2px solid black !important;
  margin: 5px;
}

.fw {
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  div.gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
