#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
nav a {
  border-bottom: 0 solid black;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}
nav a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 12px;
  width: 25px;
  left: 50%;
  background-color: white;
  clip-path: polygon(50% 10%, 0% 100%, 100% 100%);
  transform: translateX(-50%) scaleX(1);
  transition: 0.5s;
  /* animation: active 0.5s linear both; */
}
@keyframes active {
  0% {
    transform: translateX(-50%) scaleX(0);
    background-color: black;
  }
  100% {
    transform: translateX(-50%) scaleX(15);
    background-color: whitesmoke;
  }
}
.active {
  /* border-bottom: 5px solid black; */

  transform: scale(1.1);
  font-weight: bold;
  color: whitesmoke !important;
}
@media (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbar-toggler {
    /* left: 0; */
    right: 10px;
    bottom: 10px;
    top: 10px;
    border: 2px solid white !important;
    margin: auto;
    position: absolute;
  }
}
